.TOP-nologin > a {
  display: block;
  float: left;
  margin-right: 8px;
}

.TOP-nologin > a img {
  display: block;
  height: 25px;
  width: auto;
}

.TOP-nologin ul {
  float: left;
}

.TOP-my {
  float: right;
  overflow: initial;
}

.TOP-my img {
  display: block;
  height: 25px;
  width: auto;
}

.TOP-my ul:before, .TOP-my ul:after {
  content: "";
  display: table;
}

.TOP-my ul:after {
  clear: both;
}

.TOP-my ul > li {
  float: left;
  border-left: 1px solid;
}

.TOP-my ul > li a {
  position: relative;
  display: block;
  padding: 0px 12px;
  font-size: 13px;
  background: transparent;
  text-align: center;
}

.TOP-my ul > li a:hover  .text-tooltip {
  visibility: visible;
  opacity: 1;
  pointer-events: none;
}

.TOP-my ul > li a:hover, .TOP-my ul > li a:active, .TOP-my ul > li a:focus {
  text-decoration: none;
}

.TOP-my ul > li a:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.TOP-my ul > li a#topBar_more:before {
  content: "\f0c9";
}

.TOP-my ul > li a#topBar_forum:before {
  content: "\f02c";
}

.TOP-my ul > li a#topBar_guild:before {
  content: "\f024";
}

.TOP-my ul > li a#topBar_mailbox:before {
  content: "\f0e0";
}

.TOP-my ul > li a#topBar_api:before {
  content: "\f11b";
}

.TOP-btn {
  display: block;
  float: right;
}

.TOP-btn a {
  float: left;
  display: block;
  position: relative;
  padding: 0 6px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.TOP-btn a span {
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  padding: 0px 3px;
  background-color: #F03434;
  font-size: 12px;
  color: #FFF;
  border-radius: 3px;
  -webkit-transform: scale(0.86);
          transform: scale(0.86);
  overflow: hidden;
  line-height: 18px;
}

.TOP-btn a:before {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 19px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.TOP-btn a.topb1:before {
  content: '';
  display: inline-block;
  margin-top: 6px;
  width: 22px;
  height: 22px;
  background-image: url("https://i2.bahamut.com.tw/navicon_notification.png");
  background-size: cover;
}

.TOP-btn a.topb2:before {
  content: "\f143";
}

.TOP-btn a.topb3:before {
  content: "\f164";
}

.TOP-btn a.topb4:before {
  content: "\f075";
}

.BA-topbg .TOP-btn a.topbnow {
    background: transparent;
}

.TOP-my img {
  position: relative;
  top: 4px;
}

.TOP-my ul > li {
  border-color: rgba(36, 157, 184, 0.8);
}

.TOP-my ul > li a {
  height: 35px;
  line-height: 35px;
  color: #FFF;
  min-width: 16px;
}

.TOP-my ul > li a:before {
  color: #FFF;
}

.TOP-my ul > li a:hover {
  background: #249db8;
}

.TOP-my ul > li a:active:before {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

.TOP-my ul > li a.topbnow {
  background: #249db8;
  position: relative;
}

.TOP-my ul > li a.topbnow_arrow:after {
  content: '';
  position: absolute;
  border-style: solid;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-color: transparent transparent #e2e2e2;
  border-width: 0 6px 7px;
  z-index: 999;
}

.BA-top .TOP-btn a.topbnow_arrow:after,
.BA-top .TOP-my ul > li a.topbnow_arrow:after {
  content: none;
}

.BA-top .TOP-btn a span.text-tooltip,
.TOP-btn a span.text-tooltip,
.text-tooltip {
  position: absolute;
  top: auto;
  bottom: -8px;
  pointer-events: none;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 7px;
  background: rgba(16, 148, 161, 0.9);
  left: 50%;
  border-radius: 3px;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  color: #FFF;
  white-space: nowrap;
  overflow: visible;
}

.text-tooltip:after {
  content: '';
  position: absolute;
  border-style: solid;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-color: transparent transparent rgba(16, 148, 161, 0.9);
  border-width: 0 5px 5px;
}

.TOP-btn a:hover span.text-tooltip {
  visibility: visible;
  opacity: 1;
}

.TOP-my .topbar_member-home {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  padding-right: 0;
  float: left;
}

.TOP-my .topbar_member-home .nav-member_imgbox {
  display: inline-block;
  position: relative;
  top: 4px;
  overflow: hidden;
  border-radius: 99em;
  border: 1px solid transparent;
}

.TOP-my .topbar_member-home img {
  top: 0px;
}

.TOP-my .topbar_member-home.topbnow, .TOP-my .topbar_member-home:hover {
  background: transparent;
}

.TOP-my .topbar_member-home.topbnow .nav-member_imgbox, .TOP-my .topbar_member-home:hover .nav-member_imgbox {
  border: 1px solid #33cccc;
  -webkit-box-shadow: 0 0 5px 0px rgba(51, 204, 204, 0.5);
          box-shadow: 0 0 5px 0px rgba(51, 204, 204, 0.5);
}

.TOP-my .topbar_member {
  position: relative;
  display: inline-block;
  float: right;
  vertical-align: top;
  padding: 0 5px 0 3px;
  font-size: 14px;
}

.TOP-my .topbar_member i {
  margin-top: 10px;
}

.TOP-my .topbar_member.topbnow, .TOP-my .topbar_member:hover {
  background: transparent;
  color: #115864;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.TOP-my .topbar_member.topbnow .text-tooltip, .TOP-my .topbar_member:hover .text-tooltip {
  opacity: 1;
  visibility: visible;
}

.TOP-my .topbar_member.topbnow {
  background: transparent;
}

.TOP-btn a {
  height: 35px;
  line-height: 35px;
  min-width: 16px;
  text-decoration: none;
}

.TOP-btn a.topbnow1:before {
  background-image: url("https://i2.bahamut.com.tw/navicon_notification_active.png");
}

.TOP-btn a.topbnow2:before, .TOP-btn a.topbnow3:before, .TOP-btn a.topbnow4:before {
  color: #FFF;
}

.TOP-btn a:before {
  color: #0c5d72;
}

.TOP-btn a:hover {
  background: #249db8;
  text-decoration: none;
}

.TOP-btn a:active:before {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

.TOP-btn a.topbnow {
  background: #249db8;
  position: relative;
}

.TOP-btn a.topbnow_arrow:after {
  content: '';
  position: absolute;
  border-style: solid;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-color: transparent transparent #e5e5e5;
  border-width: 0 6px 7px;
  z-index: 999;
}

.TOP-my ul > li a#topBar_more img,
.TOP-my ul > li a#topBar_forum img,
.TOP-my ul > li a#topBar_guild img,
.TOP-my ul > li a#topBar_mailbox img,
.TOP-my ul > li a#topBar_api img {
  display: none;
}

.BA-top .TOP-my ul li {
  border-left: 1px dotted;
  border-color: #79bbca;
}

.BA-top .TOP-my ul li a {
  color: #595959;
}

.BA-top .TOP-my ul li a:hover {
  color: #249db8;
}

.BA-top .TOP-my ul li a.topb1now:before, .BA-top .TOP-my ul li a.topb2now:before, .BA-top .TOP-my ul li a.topb3now:before, .BA-top .TOP-my ul li a.topb4now:before, .BA-top .TOP-my ul li a.topbnow1:before, .BA-top .TOP-my ul li a.topbnow2:before, .BA-top .TOP-my ul li a.topbnow3:before, .BA-top .TOP-my ul li a.topbnow4:before {
  color: #FFF;
}

.BA-top .TOP-my ul li a:before {
  color: #595959;
}

.BA-top .TOP-my ul li a:hover, .BA-top .TOP-my ul li a:focus {
  background: transparent;
}

.BA-top .TOP-my ul li a:hover:before {
  color: #249db8;
}

.BA-top .TOP-btn a.topb1:before {
  background-image: url(https://i2.bahamut.com.tw/navicon_notification_index.png);
}

.BA-top .TOP-btn a.topb1:hover:before, .BA-top .TOP-btn a.topb1.topbnow1:before {
  background-image: url(https://i2.bahamut.com.tw/navicon_notification_index_active.png);
}

.BA-top .TOP-btn a.topb1now:before, .BA-top .TOP-btn a.topb2now:before, .BA-top .TOP-btn a.topb3now:before, .BA-top .TOP-btn a.topb4now:before, .BA-top .TOP-btn a.topbnow1:before, .BA-top .TOP-btn a.topbnow2:before, .BA-top .TOP-btn a.topbnow3:before, .BA-top .TOP-btn a.topbnow4:before {
  color: #249db8;
}

.BA-top .TOP-btn a:before {
  color: #595959;
}

.BA-top .TOP-btn a:hover, .BA-top .TOP-btn a:focus {
  background: transparent;
}

.BA-top .TOP-btn a:hover:before {
  color: #249db8;
}

.BA-top .TOP-btn a span {
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  padding: 0px 3px;
  background-color: #F03434;
  font-size: 12px;
  color: #FFF;
  border-radius: 3px;
  -webkit-transform: scale(0.86);
          transform: scale(0.86);
  overflow: hidden;
  line-height: 18px;
}

.BA-top .BA-menu a.BA-serve_new {
  color: #f03434;
  font-weight: 600;
}

.mobileshow {
  display: none !important;
}

.nav-search {
  float: right;
  display: inline-block;
}

.nav-search-button {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-search-button .nav-search-icon {
  width: 10px;
  height: 10px;
  margin: 13px 8px 8px 4px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: #0c5d72;
  text-align: left;
  text-indent: -9999px;
  border: 2px solid;
  border-radius: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-search-button .nav-search-icon:after, .nav-search-button .nav-search-icon:before {
  content: '';
  pointer-events: none;
}

.nav-search-button .nav-search-icon:before {
  width: 2px;
  height: 7px;
  top: 12px;
  position: absolute;
  left: 50%;
  border-radius: 0 0 1px 1px;
  -webkit-box-shadow: inset 0 0 0 32px;
          box-shadow: inset 0 0 0 32px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav-search-button:hover .nav-search-icon {
  color: #fff;
}

.nav-search-button > form {
  width: 100%;
  height: 100%;
  padding: 0 auto;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 99;
}

.nav_searchform {
  position: absolute;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #117e96;
  background: linear-gradient(135deg, #13aeab 0%, #117e96 75%);
  z-index: 2;
}

.nav_searchform .TOP-search {
  margin-left: 0;
}

.nav_searchform .header__search.gcse-bar {
  width: calc(100% - 60px);
}

.nav_searchform .gcse-bar.header__search .gcse-main.top__gcse, .nav_searchform .gcse-bar.header__search .gcse-main div.gsc-input-box table.gstl_50 td.gsib_a, .nav_searchform .gsc-input-box.is-hove {
  width: 100%;
}

.nav-search-close-button {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: normal;
  color: #0c5d72;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .mobileshow {
    display: inline-block !important;
  }
  .mobilehide {
    display: none !important;
  }
  .TOP-search {
    margin-left: 15px;
    margin-top: 5px;
    width: calc(100% - 60px);
  }
  .TOP-search form.gsc-search-box {
    width: 100%;
  }
  .TOP-search form.gsc-search-box .gsc-input-box input.gsc-input {
    width: 100% !important;
  }
  .TOP-bh, .TOP-bh .TOP-data {
    height: 44px;
  }
  .TOP-bh .TOP-btn a {
    width: 44px;
    height: 44px;
    line-height: 44px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .TOP-bh .TOP-btn a.topb1:before {
    margin-top: 11px;
  }
  .TOP-bh .TOP-btn a span {
    top: 4px;
    left: 5px;
  }
  .TOP-bh .TOP-my ul > li a {
    width: 44px;
    height: 44px;
    line-height: 44px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .TOP-bh .TOP-my .topbar_member-home {
    padding: 0 6px;
  }
  .TOP-bh .TOP-my .topbar_member-home:hover {
    background: #249db8;
  }
  .TOP-bh .TOP-my .topbar_member-home .nav-member_imgbox {
    top: 10px;
  }
  .TOP-bh .TOP-my.TOP-nologin ul > li a {
    width: auto;
  }
  .TOP-bh .TOP-my.TOP-nologin > a {
    border-left: 1px solid rgba(36, 157, 184, 0.8);
    width: 44px;
    height: 44px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .TOP-bh .TOP-my.TOP-nologin > a img {
    width: 25px;
    margin: 6px auto;
  }
  .TOP-bh .TOP-btn a {
    border-left: 1px solid rgba(36, 157, 184, 0.8);
  }
  .BH-menu {
    top: 44px;
  }
  .TOP-data > a {
    margin-top: 4px;
  }
  .bh-banner {
    margin-top: 100px;
  }
}

@media screen and (max-width: 415px) {
  .TOP-bh .TOP-my.TOP-nologin > a {
    display: none;
  }
  .nav-search {
    border-left: 1px solid rgba(36, 157, 184, 0.8);
  }
}

@media screen and (max-width: 350px) {
  .TOP-data > a {
    margin-top: 10px;
  }
  .TOP-data > a img {
    height: 25px !important;
  }
  .TOP-bh .TOP-btn a.topb1 {
    border-left: 1px solid rgba(36, 157, 184, 0.8);
  }
}

@media screen and (min-width: 769px) {
  .nav_searchform {
    display: none !important;
  }
}

/*# sourceMappingURL=index_top.css.map */
