*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.faces{
    width: 100vw;
    height: 475vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    z-index: 1;
}
.face{
    width: 50vw;
}
.faceL{
    position: relative;
    right: 10vw;
    width: 60vw;
}
.faceR{
    position: relative;
    width: 60vw;
    left: 10vw;
}

.item:nth-child(2){
    height: 475vh;
    align-items: center;
    justify-content: center;
}

.mask{
    background-color: rgb(29, 30, 24);
    width: 90vw;
    height: calc(70vw/1.6);
    flex-basis: calc(70vw/1.6);
    /* opacity: 0.5; */
    /* display: flex; */
    filter: blur(10px);
    position: relative;

    animation-duration: 2s;
    /* animation-direction: inherit; */
    /* animation-delay: inherit; */
    animation-fill-mode:forwards;
    
}
.masks{
    position: absolute;
    top: 15vh;

    width: 100vw;
    height: 475vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

    z-index: 2;
}
@keyframes fadeLeftToRight{
    from{
        left: 0vw;
        background: linear-gradient(90deg, rgb(29, 30, 24), rgb(29, 30, 24) 75%);
    }
    to{
        right: 0;
        /* width: 0vw; */
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(29, 30, 24) 50% );
    }
}
@keyframes fadeRightToLeft{
    0%{
        right: 0vw;
        background: linear-gradient(90deg, rgb(29, 30, 24) 75%, rgba(0, 0, 0, 0.5));
    }
    100%{
        left: 0;
        /* width: 0vw; */
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
        background: linear-gradient(90deg, rgb(29, 30, 24) 50%, rgba(0, 0, 0, 0));
    }
}

.page1Manu div{
    height: 50% ;
}
.sub-menu div{
    height: 100% ;
}

.title{
    /* height: 20vh; */
    text-align: center;
    font-size: 80px;
    color: white;
    line-height: 100px;
}
.title span{
    font-size: 30px;
    color: white;
}
