.AboutUS{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    gap: 50px;
    margin: 50px;
}
.AboutUS-header{
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    gap: 150px;
    animation: header_spread 2s ease;
}

hr{
    width: 85vw;
    animation: hr_spread 2s ease;
}
.member-intro{
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: space-evenly;
    margin-top: 50px;
    animation: member_intro_fadeup 2s ease;
}
.headshot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headshot img{
    width: 10vw;
    height: 10vw;
    border-radius: 500px;
    border: 5px solid white;
}
.self-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item:nth-child(2){
    height: 75vh;
}
body{
    overflow-x: hidden;
}

@keyframes header_spread{
    0% {
        gap: 0px;
        opacity: 0;
    }
    100% {
        gap: 150px;
        opacity: 1;
    }
}
@keyframes hr_spread{
    0% {
        width: 0vw;
        opacity: 0;
    }
    100% {
        width: 85vw;
        opacity: 1;
    }
}
@keyframes member_intro_fadeup{
    0% {
        opacity: 0;
        transform: translateY(250px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}