#store1{
    left: 20vw;
    top: 30vh;
    /* animation: move1 1s ease 1 forwards; */
}
#store2{
    left: 30vw;
    top: 55vh;
    /* animation: move2 1s ease 1 forwards; */
}
#store3{
    left: 40vw;
    top: 30vh;
    /* animation: move1 1s ease  1  forwards; */
}
#store4{
    left: 50vw;
    top: 55vh;
    /* animation: move2 1s ease 1 forwards; */
}
#store5{
    left: 60vw;
    top: 30vh;
    /* animation: move1 1s ease 1 forwards; */
}
#store6{
    left: 70vw;
    top: 55vh;
    /* animation: move2 1s ease 1 forwards; */
}
.sto{
    width: 10vw;
    height: 20vh;
    display: flex;
    position: absolute;
    border: solid white 3px;
    color: white;
    background-color: rgba(39, 39, 74, 75%);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.sto:hover{
    box-shadow: 0px 0px 10px 7.5px darkcyan;
    transition: 0.5s;
    transform: scale(1.2);
    animation: infinite reverse linkLigth 1.5s;
    /* animation-name: linkLigth;
    animation-duration:1.5s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-play-state: running; */
    
}
@keyframes linkLigth {
    0%{
        box-shadow: 0px 0px 10px 0px darkcyan;
    }
    50%{
        box-shadow: 0px 0px 10px 7.5px darkcyan;
        background-color: rgba(83, 83, 157, 0.75);
    }
    100%{
        box-shadow: 0px 0px 10px 0px darkcyan;
    }
}
@keyframes move1{
    0%{
        top: 0vh;
        opacity: 0%;
    }
    100%{
        top: 30vh;
        opacity: 100%;
    }
}
@keyframes move2{
    0%{
        top: 80vh;
        opacity: 0%;
    }
    100%{
        top: 55vh;
        opacity: 100%;
    }
}
