.talent{
    display: flex;
    width: 100vw;
}
.section-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 20vw;
}
.bar-chart{
    width: 15px;
    height: 100px;
    border: 1px solid white;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    /* background-color: brown; */
    gap: 20px;
}
.content-header{
    width: 70vw;
    text-align: left;
    font-size: 50px;
    color: white;
}
.intro{
    width: 70vw;
    text-align: center;
    font-size: 25px;
    border: 2px solid white;
}
hr{
    width: 70vw;
    border: 2px solid white;
    border-radius: 5px;
}
.talent-intro{
    display: flex;
    flex-direction: column;
    width: 70vw;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    /* border: 2px solid white; */
}

.level{
    width: 70vw;
    text-align: left;
}

.icon-bar{
    display: flex;
    gap: 50px;
}
.icon-bar img{
    cursor: pointer;
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius: 500px;
}
.icon{
    display: flex;
    flex-direction: column;
}

.clickme{
    /* background-color:#fc9; */
    /* padding: 5px; */
    /* width: 100px; */
    cursor: pointer;
    text-align: center;
    }
    
    .showText{
    /* background-color:#f90; */
    /* width: 20vw; */
    max-height: 0;
    opacity: 0;/*透明度*/
    transition: 0.6s;
    position: relative;
    left: 300px;
    }
    
    .clickme:focus + .showText{
    opacity: 1;
    padding: 20px;
    max-height: 100%;
    }