*{
    box-sizing: border-box;
    padding: 1;
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.item:first-child{
    grid-area: header;
    background-color: midnightblue;
    height: 15vh;
    width: 100vw; 
    text-align: center;
    line-height: 15vh;
    color: white;
    background-image: url(headerImg.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 0.5vw;
}
.item:nth-child(2){
    grid-area: main;
    background-color: black;
    height: 75vh;
    width: 100vw;
    display: grid;
}
.item:nth-child(3){
    grid-area: footer;
    background-color: midnightblue;
    height: 10vh;
    width: 100vw;
    z-index: 999;
}

#myCanvas{
    position: absolute;
    top: calc(15vh/2 - 25px);
    right: 20px;
    width: 50px;
    height: 50px;
}
.menu { 
    width: 100px;
    /* height: 100vh; */
    display: flex;
    position: absolute;
    /* right: 0; */
    top: calc(15vh/2 - 25px);
    right: 20px;
    width: 50px;
    height: 50px;
} /* 主選單的樣式 */
.menu:hover { 
    display: block;  
}
.sub-menu { 
    /* border-radius: 10px; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 100vh;
    background-color:rgb(34, 34, 34);  
    position:absolute; 
    right: 0; 
    top: 0;
    bottom: 0;
    left: calc(100vw - 200px);
} /* 下拉清單的樣式 */
.sub-menu div a 
{ 
    text-decoration:none; 
    color: white; 
}
.sub-menu div:hover 
{ 
    transition: 1s;
    color:#FFFFFF; 
    background-color:#6c6c6c; 
    text-decoration:none; 
}
.page1Manu{
    display: flex;
    /* position: absolute; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 20vh;
    width: 200px;
    top: 0;
    /* top: 100px;
    right: 0; */
}
.page1Manu div{
    display: flex;
    color: white;
    font-size: 15px;
    background-color: #434343;
    width: 200px;
    height: 5vh;
    align-items: center;
    justify-content: center;
}
/* .page1Manu div a{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.top{
    display: flex;
    position: absolute;
    height: 15vh;
    width: 150px;
    left: 0.5vw;
}