*{
    box-sizing: border-box;
    padding: 1;
    margin: 0;
}
.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.item:first-child{
    grid-area: header;
    background-color: midnightblue;
    height: 20vh;
    width: 100vw; 
    text-align: center;
    line-height: 20vh;
    color: white;
    background-image: url(headerImg.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 0.5vw;
}
.item:nth-child(2){
    grid-area: main;
    background-color: black;
    height: 70vh;
    width: 100vw;
}
.item:nth-child(3){
    grid-area: footer;
    background-color: midnightblue;
    height: 10vh;
    width: 100vw;
}