.spec-form{
    width: 70vw;
}
.table {
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation: bg-spin 3s linear infinite;
            animation: bg-spin 3s linear infinite;
  }
  @-webkit-keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  .box:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

/* form-nav */
.thead th{
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}
p{
    width: 34.6vw;
    font-size: 35px;
}
.active{
    z-index: 1;
    padding-left: 1em;
    display: inline-block;
    padding: .3em 1em 0;
    text-decoration: none;
    color: black;
    position: relative;
    margin: 0 -.3em;
}
p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: white;
    border-radius: .5 0 0 0;
    transform: scale(1.0, 1.2) perspective(.5em) rotateX(5deg);
}
p:first-child::before{
    transform-origin: bottom left;
}
p:last-child::before{
    transform-origin: bottom right;
}

/* form-content */
.tbody{
    display: flex;
    flex-direction: column;
    background: white;
}
.tbody tr th{
    width: 20vw;
    text-align: center;
    font-size: 24px;
}
.tbody tr td{
    width: 50vw;
    text-align: center;
    font-size: 18px;
}
tr {
    border: 1px solid black;
}