/* page4 */
.item:first-child {
    z-index: 3;
}
.item:last-child{
    z-index: 3;
}

.developer {
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: 1;
}

.dev-bg {
    z-index: 1;
    overflow: hidden;
}

.dev-bg img {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.dev-bg img.active {
    opacity: 1;
}

.dev-bg-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 70%;
    background: radial-gradient(closest-side, #d2d2d2, #383737, #000000 80%);
    z-index: 3;
}

.dev-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10vh;
    font-size: 20px;
    color: white;
    z-index: 2;
    padding-bottom: 10vh;
}

.dev-info p {
    background-color: rgba(0, 0, 0, 0.75);
}
.dev-logo{
    margin-top: 10vh;
    height: 45vh;
}
.dev-logo a img {
    height: 500px;
    width: 1050px;
}

.dev-intro{
    height: 10vh;
}
.dev-intro hr {
    border-color: white;
    border: 2px solid white;
}

.dev-games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.dev-games a {
    border-radius: 100px;
}

.dev-games a img {
    border: 2px solid gray;
    border-radius: 100px;
    opacity: 40%;
}

.bg-dot-nav {
    display: flex;
    position: fixed;
    bottom: 20px;
    flex-direction: row;
    gap: 10px;
    z-index: 2;
}

.bg-dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 30px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-dot:first-child {
    background-color: white;
}

/* 游標指向有光環 */
.dev-games a :hover {
    transition: 0.3s;
    box-shadow: 0 0 12px 1px #fff,
        /* inner white */
        0 0 20px 2px #f0f,
        /* middle magenta */
        0 0 28px 3px #0ff;
    /* outer cyan */
    ;
    border: 2px solid whitesmoke;
    opacity: 100%;
}

/* 向上漸入顯示 */
.dev-intro {
    animation: Slide_UP 1.5s ease-in-out;
}

.dev-games {
    animation: Slide_UP 3s ease-in-out;
}

@keyframes Slide_UP {
    0% {
        transform: translateY(250px);
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    66% {
        opacity: 25%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}